@import "tailwindcss";
@plugin "daisyui";

html {
    font-size: 18px;
}

@plugin "daisyui" {
    themes: all;
}

@theme {
    --font-lora: "Lora Display", "sans-serif";
    --font-lato: "Open Sans", "sans-serif";
}